body {
    margin: 0;
    background-color: #f7f7f5;
    color: #163d32;
}

.navbar {
    min-height: 55px;
}

.navbar-brand {
    font-size: 13px;
}

.nav-link {
    font-size: 12px;
}

.inicio {
    background-color: #063d2f;
    color: white;

    text-align: center;

    padding: 60px 20px 70px;

    min-height: 400px;
}

.inicio h1 {
    font-size: 42px;
    font-weight: bold;

    margin-bottom: 20px;
}

.inicio h1 span {
    color: #d99b43;
}

.inicio p {
    max-width: 550px;

    margin: 0 auto 25px;

    font-size: 13px;
    line-height: 1.6;

    color: #d8e5df;
}

.inicio .btn {
    margin: 5px;
    padding: 9px 18px;

    font-size: 12px;
    border-radius: 6px;
}


.inicio .btn-primary {
    background-color: #d99b43;
    border-color: #d99b43;
    
}

.inicio .btn-secondary {
    background-color: transparent;
    border: 1px solid #7c9b91;
    color: white;
}

.inicio .btn-primary:hover {
    background-color: #bd8131;
    border-color: #bd8131;
}

.inicio .btn-primary:hover {
    background-color: white;
    color: white;
}

.inicio .btn-secondary:hover {
    background-color: white;
    color: white;
}

.card {
    max-width: 900px;
    margin: 40px auto;
    border: none;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
}
.card .btn-primary{
    background-color: #bd8131;
    border-color: #bd8131;

}

.card-body {
    padding: 30px;
}

.card-title {
    color: #163d32;
    font-weight: bold;
}

.card-text {
    color: #777;
}

.footer {
    background-color: #063d2f;
    color: white;
    padding: 35px 20px 15px;
    margin-top: 40px;
}

.footer-contenido {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-columna {
    flex: 1;
}

.footer-columna h3 {
    font-size: 13px;
    margin-bottom: 10px;
    color: white;
}

.footer-columna p {
    font-size: 10px;
    line-height: 1.7;
    color: #c5d9d3;
    margin: 0;
}

.footer-abajo {
    max-width: 900px;
    margin: 20px auto 0;
    padding-top: 15px;
    border-top: 1px solid #1c5949;
    text-align: center;
    font-size: 9px;
    color: #8fb2a8;
}

